/* Fonts */
@font-face {
 font-family: Frutiger Roma;
 src: url(./assets/fonts/Frutiger_Roma.ttf);
}

/* General */
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background-color: #FFF
}

h1, h2, h3, h4 {
  font-family: 'Frutiger Roma';
  margin: 0;
}

h4 {
  margin: 2px;
  padding: 0;
}

.no-underline {
  text-decoration: none;
}

/* Header */
.main-logo {
  display: block;
  max-width: 16vw;
  min-width: 160px;
}

.header-login {
  display: flex;
  flex-flow: row nowrap;
  margin: auto 0;
  margin-left: auto;
  align-items: flex-end;
}

.header-login > * {
  margin: 0.6em 0.8em;
}

header {
  background-color: #FFF;
}

.main-header {
  display: flex;
  flex-flow: row nowrap;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 15px;
}

.header-submit {
  max-width: 180px;
  min-width: 10vw;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #b52b45;
  border-radius: 8px;
  border-style: none;
  min-height: 40px;
  flex-shrink: 1;
}

.header-username, .header-password {
  width: 100%;
  max-width: 240px;
  box-sizing: border-box;
}

.header-input {
  width: 100%;
  font-size: 1em;
  height: auto;
  box-sizing: border-box;
}

.header-registration-link {
  margin-left: auto;
  text-decoration: none;
  align-self: center;
  height: 50%;
}

.header-registration {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  background-color: #b52b45;
  color: #FFF;
  border-radius: 12px;
  padding: 1em;
  max-height: 60px;
  box-sizing: border-box;
}

/* Media Queries */
@media only screen and (max-width: 400px) {
  .header-logo {
    margin: 0 auto;
  }

  .main-header {
    min-width: unset;
    flex-wrap: wrap;
  }

  .header-login {
    flex-flow: column nowrap;
    margin-left: unset;
    margin: 0 auto;
    width: 100%;
    align-items: center;
  }

  .header-submit {
    width: 100%;
    min-width: 4em;
  }

  .header-registration-link {
    margin: 0 auto;
  }
}

/* Main */
main {
  min-height: 70vh;
  padding: 2em;
  background-image: linear-gradient(#FFF0F3, pink);
}

.main-no-padding {
  padding: 0;
}

.main-hero {
  width: 100%;
  min-height: 70vh;
  background-image: url(./assets/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.hero-hover {
  display: none;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-flow: column nowrap;
  align-items: center;
}

.main-leaves {
  width: 120px;
  height: auto;
  padding-bottom: 1em;
}

.main-center {
  margin: 0 auto;
  min-height: 70vh;
  height: 100%;
  max-width: 300px;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.registration-center {
  max-width: 600px;
}

.login-form-div {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.login-form-div > * {
  padding: 1em 0em;
  width: 100%;
}

.login-input {
  width: 100%;
  flex-basis: 300px;
  flex-grow: 1;
  box-sizing: border-box;
  margin-top: 1em;
  font-size: 1em;
}

.register-names {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.register-name {
  padding-right: 0.4em;
}

.register-surname {
  padding-left: 0.4em;
}

.register-names > * {
  width: 50%;
  box-sizing: border-box;
}

.register-plus {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.register-plus > * {
  width: 50%;
  box-sizing: border-box;
}

.register-input {
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.4em;
}

.reg-select {
  margin-top: 0.4em;
  font-size: 1em;
}

.gender-radio {
  font-size: 1.2em;
}

#login-error-message {
  font-weight: bold;
  color: #b52b45;
  margin: 0.6em 0;
}

.small-form-input {
  margin: 1em 0;
  font-size: 1em;
  width: 100%;
}

.small-form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

/* Footer */
.homepage-footer {
  padding: 4vh 4vh;
  height: 12vh;
  min-height: 60px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  color: #212121;
  background-color: #FFFFFF;
}

.footer-links {
  margin-left: auto;
  color: #616161;
}

.footer-links:hover {
  margin-left: auto;
}
